body{
    background: #232323; 
    color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.formHolder{
    margin-top: 20vh;
    width: 35vw;
}
form h3{
    color: white;
}
img{
    display: flex;
    margin: auto;
    padding-top: 20px;
}
@media screen and (max-width: 750px) {
    .formHolder{
        width: 80vw;
    }
  }